<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Currently a Product Developer building business
      process
      automation tools for <a class="underline-link" href="#" target="_blank">SAP®</a>. Member of SAP Cloud Platform
      - Cloudfoundry PaaS
      COE team at
      <a class="underline-link" href="#" target="_blank">Kaar</a>.
      <a class="underline-link" href="https://www.freelancer.com/u/hemchander94" target="_blank">Freelance developer
        &amp; designer </a> during college days with consistent 5-star ratings from my clients. Graduate of
      <a class="underline-link" href="#" target="_blank">Anna University,Chennai.</a>
    </p>

    <p>
      My speciality ? Bringing the best of design and development to solve interesting product challenges. Can dive into
      the abyss of code and still have a 20,000 ft. view of the situation while handling projects. Validated-learning &
      data-informed approaches enable me to craft better solutions.
    </p>

    <p>
      I like writing
      <a class="underline-link" href="https://people.sap.com/hemchander/#content:blogposts" target="_blank">blogs </a>
      and working on hobby projects ranging from
      <a class="underline-link"
        href="https://www.linkedin.com/in/hems23/detail/treasury/education:254178477/?entityUrn=urn%3Ali%3Afs_treasuryMedia%3A(ACoAABdC7WgB0-c-LJLpEsd-_DQjJ4SSq6twDrg%2C1525663320492)&section=education%3A254178477&treasuryCount=4"
        target="_blank">IOT projects</a> to
      <a class="underline-link" href="#" target="_blank">dev tools</a>. An adventure biker &amp; photographer during
      offtime

    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>