<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6489733192046690304" target="_blank">
          <img src="{{site.baseurl}}/img/featured/wsr/analytics.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">Innovation Request Repository</a>
        </div>
        <p> Gathers all innovation requests raised by enterprise
          customers and enables the board in decision-making during S/4 HANA Public Cloud ERP portfolio rounds.
          Automation capabilities and integrations allows product managers and developers to save time & to engage
          productively with
          the tool</p>
      </figcaption>
    </div>



    <div class="project">
      <figure class="project__pic">
        <a href="#" target="_blank">
          <img src="{{site.baseurl}}/img/featured/freelancer/manufacturing.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">Manufacturing Firm Portal</a>
        </div>
        <p>Design and development of a manufacturing firm's portal. Features an interactive product display carousel to
          preview multiple variants of the mechanical parts.
        </p>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <a href="#" target="_blank">
          <img src="{{site.baseurl}}/img/featured/freelancer/security-startup.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="#" target="_blank">Appvigil</a>
        </div>
        <p>Revamping the startup logo's, website and android application.
        </p>
      </figcaption>
    </div>

  </div>
</section>